html {
  max-width: 1200px;
  background-color: white;
  margin: 0 auto;
  width: 100%;
}

body {
  padding: 35px 100px 0 90px;
  display: flex;
  flex-direction: column;
}

footer {
  p{
    padding-top: 30px;

  }
  padding-bottom: 30px;
}

.header {
 display: flex;
 flex-direction: column;
 &-top{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   justify-items: flex-start;
   input {
     padding: 12px;
     min-width: 220px;
     font-size: 14px;
     margin-left: 30px;
   }
   button {
     padding: 12px 24px;
     margin-left: 20px;
     background-color: white;
     border: 1px solid orange;
     color: orange;
   }
 }
 &-nav{
    display: flex;
    flex-direction: row;
    padding-top: 6%;
    padding-left: 10px;
    ul{
      list-style-type: none;
    }
    &-item{
      color: orange;
      text-decoration: none;
      font-size: 1.6em;
    }
    button {
      color: orange;
      border: 1px solid orange;
      background-color: white;
      font-size:1.6em;
      padding: 0 15px;
    }
  }
  &::after{
    padding-top: 30px;
    content: "";
    display: block;
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid black;
  }
}

section {
  padding-top: 30px;
  &::after{
    padding-top: 60px;
    content: "";
    display: block;
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid black;
  }

  h1{
    text-align: center;
  }
}

nav {
  ul{
    display: flex;
    flex-direction: row;
  }
}

.teachers{
  &-filter{
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    font-size:0.93em;
    &-box{
      display: flex;
      align-items: center;
      label{
        padding-right: 13px;
        width: auto;
      }
      select{
        padding:4px 6px;
      }
      input {
        margin-right: 13px;
      }
      padding-right: 20px;
      margin-right: 20px;
      border-right: 1px dashed black;
    }
  }
  &-fav-cards{
    padding-top: 2%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: row;
  }
  &-cards{
    padding-top: 5.7%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: row;
    &-card{
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 155px;
      text-align: center;
      &-avatar{
        width: 155px;
        height: 155px;
        border-radius: 100px;
        border: 3px solid red;
      }
      &-name{
        font-size: 1.5em;
      }
      &-subject{

      }
    }
  }
}

.statistics{

  table {
    margin-top:45px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    text-align: center;
    padding: 8px;
  }

  th {
    border-bottom: 1px solid black;
  }

  tr:nth-child(even) {
    background-color: #faf5fb;
  }

  &-nav{
    padding-top: 15px;
    flex-direction: row;
    color: blue;
    text-underline: blue;
  }
}


